.wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin-bottom: 20px;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 1.3rem;
}

button {
  width: 170px;
  font-size: 1.2rem;
}